* {
  margin: 0;
  padding: 0;
}
ol,
li {
  list-style: none;
}

.MuiGrid-root {
  padding: 0;
}
.registration_part .box {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
  margin-top: 225px;
}

.registration_part h1 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 47px;
  color: #11175d;
  margin: 0;
}

.registration_part p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #c3c5d7;
  margin: 0;
}

.registration_part .MuiFormHelperText-root {
  color: red;
  font-size: 16px;
}

.registration_part .MuiGrid-root {
  padding: 0 !important;
  margin: 0 !important;
}

/* Login page */
.registration_part .popupMsg {
  margin-top: 40px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #03014c;
  font-family: "Open Sans", sans-serif;
}

.registration_part .popupMsg Link {
  color: #ea6c00;
  cursor: pointer;
}

.login_part .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23) !important;
  border-radius: 0;
}

.registration_part .inputOption {
  display: flex;
  margin-bottom: 20px;
}

.registration_part .option {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 40px;
  padding-left: 92px;
  border: 1px solid rgba(3, 1, 76, 0.083);
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 9px;
  position: relative;
  cursor: pointer;
}

.registration_part .option img {
  position: absolute;
  top: 18px;
  left: 62px;
}

.registration_part .popupMsg a {
  display: inline-block;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ea6c00;
  text-decoration: none;
}

.registration_part .eye {
  position: relative;
  width: 372px;
}

.registration_part .eyeIcon {
  position: absolute;
  bottom: 19px;
  right: 0;
  cursor: pointer;
}

/* home page */

/* home page left bar */
.leftbar {
  background-color: #5f35f5;
  height: 100vh;
  margin: 35px;
  border-radius: 20px;
  text-align: center;
}

.leftbar .profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 38px;
  margin-bottom: 15px;
}

.leftbar li {
  margin-top: 50px;
  width: 161px;
  /* height: 88px; */
  padding: 20px 70px 20px 45px;
  margin-left: auto;
  border-radius: 20px 0 0 20px;
  position: relative;
  cursor: pointer;
}

.leftbar .active {
  background: #fff;
}

.leftbar li::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: #5f35f5;
  content: "";
  border-radius: 25px 0 0 25px;
}

.leftbar .icon {
  font-size: 46px;
  color: #bad1ff;
}

.leftbar .active .icon {
  color: #5f35f5;
}

.leftbar h4 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

/* Search bar */
.search {
  margin-top: 35px;
  position: relative;
}

.search input {
  width: 100%;
  padding: 17px 78px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.75);
  border: 0;
}

.search .searchIcon {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
}

.search .searchDotButton {
  position: absolute;
  right: 25px;
  top: 55%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #5f35f5;
}

/* group request  */
.groupList {
  width: 100%;
  height: 480px;
  padding: 17px 78px;
  box-sizing: border-box;
  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.75);
  border: 0;

  overflow-y: scroll;
  border-radius: 20px;
  margin-top: 43px;
}

.friends {
  height: 1080px;
}
.groupList .item-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 13px;
  margin-top: 17px;
}

.groupList .item-box:last-child {
  border-bottom: 0 !important;
}

.groupList .item-box .item-img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.groupList .item-box .item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupList .item-box .item-btn button {
  background-color: #5f35f5;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.groupList h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.groupList .item-name h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}

.groupList .item-name h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(77, 77, 77, 0.75);
}

.friends .item-box .item-btn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.friends .item-box .item-btn p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  font-family: "Poppins", sans-serif;
}

.userList .item-box .item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
